Repository bragabruno/SmartWebV3: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, test-affected

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'npm run typecheck || npx tsc --noEmit'
  language: system
  pass_filenames: false

test-affected:
  name: Run tests for affected files
  entry: bash -c 'npm run test:affected || npm test -- --findRelatedTests'
  language: system
  pass_filenames: true

[claudesquad] update from 'pm' on 11 Jun 25 15:03 CDT
  TICKET_ASSIGNMENTS.md
Due: none

[claudesquad] update from 'pm_0001' on 11 Jun 25 15:21 CDT
  CLAUDE.md
  INTERNAL_USAGE_GUIDE.md
  README.md
  TICKET_DISTRIBUTION.md
Due: none

pm_1
  tools/.env.example
  tools/README.md
  tools/lib/claude-linear-manager.js
  tools/package.json
  tools/scripts/create-stories.js
  tools/scripts/generate-standup.js
  tools/scripts/plan-sprint.js
  tools/scripts/prioritize-backlog.js
  tools/scripts/setup-linear.js
  tools/templates/bug-report-template.md
  tools/templates/epic-template.md
  tools/templates/user-story-template.md
Due: test-affected

[claudesquad] update from 'swe-2-db-001' on 11 Jun 25 15:56 CDT
  .claude/settings.local.json
  packages/database/ERD.md
  packages/database/README.md
  packages/database/SETUP.md
  packages/database/schema/001_shared_tables.sql
  packages/database/schema/002_auth_tables.sql
  packages/database/schema/003_crm_tables.sql
  packages/database/schema/004_rls_policies.sql
  packages/database/schema/run_migrations.sql
Due: none

[claudesquad] update from 'swe-3-ui-001' on 11 Jun 25 15:59 CDT
  .claude/settings.local.json
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  package.json
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Badge/index.ts
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/index.ts
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/Input/index.ts
  packages/ui/src/components/Label/Label.tsx
  packages/ui/src/components/Label/index.ts
  packages/ui/src/components/Separator/Separator.tsx
  packages/ui/src/components/Separator/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  packages/ui/src/styles/globals.css
  packages/ui/src/styles/index.css
  packages/ui/src/tokens/colors.ts
  packages/ui/src/tokens/index.ts
  packages/ui/src/tokens/radius.ts
  packages/ui/src/tokens/shadows.ts
  packages/ui/src/tokens/spacing.ts
  packages/ui/src/tokens/typography.ts
  packages/ui/src/utils/cn.ts
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
Due: typescript-check, test-affected

[claudesquad] update from 'swe-1-auth-001' on 11 Jun 25 16:03 CDT
  .claude/settings.local.json
  .env.example
  .gitignore
  docs/AUTH_SETUP.md
  next.config.js
  package.json
  postcss.config.js
  src/app/api/auth/[...nextauth]/route.ts
  src/app/auth/error/page.tsx
  src/app/auth/signin/page.tsx
  src/app/auth/verify-request/page.tsx
  src/app/dashboard/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/providers.tsx
  src/lib/auth.ts
  src/middleware.ts
  src/types/next-auth.d.ts
  tailwind.config.ts
  tsconfig.json
Due: typescript-check, test-affected

[claudesquad] update from 'pm-0002-chore-ticket-status' on 11 Jun 25 16:48 CDT
  .claude/settings.local.json
  EPICS_AND_TICKETS.md
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  test-affected: any of: \.(js|jsx|ts|tsx)$
